---
layout: default
title: The Bali Pledge
preview_image: assets/bali-pledge-logo-02.png
first_highlight_image: assets/images/bali-gus-schiavon-1.jpg
first_highlight_image_alt_text: Bali statue image. Image © Gus Schiavon
second_highlight_image: assets/images/bali-gus-schiavon-3.jpg
second_highlight_image_alt_text: Bali ricefield image. Image © Gus Schiavon
third_highlight_image: assets/images/bali-gus-schiavon-6.jpg
third_highlight_image_alt_text: Balinese priest image. Image © Gus Schiavon
avatar_image:
pledges:
  - name: Gus
    avatar_image: assets/images/gus.jpg
    alt-text: Gus Schiavon
    message: >-
      Incredibly grateful to be part of this initiative. The Bali Pledge respects and elevates Bali's culture, people and environment which are key for a sustainable future to all residents and visitors.
---

<main class="padding-lg flex-center header">
  <div class="padding-sm">
    <h1 id="header" class="center editable animate__animated animate__fadeIn animate__slower">
 	The Pledge for Bali
 </h1>
    <p class="center editable animate__animated animate__fadeIn animate__slower">
 	&nbsp;With the cessation of worldwide travel, now is the time to reimagine the future of Bali, an island whose culture and environment have been under tremendous strain from mass tourism.&nbsp; With your Pledge and that of thousands of others we hope to strengthen Balinese traditions and protect its beauty for us and future generations.<br /><br />We Choose To Be The Change We Wish To See In Bali.
 </p>
    <div class="center padding-md">
      <a href="#pledge" class="header-button">Sign the Pledge</a>
    </div>
  </div>
</main>
<section id="about">
  <div class="center padding-lg">
    <div class="section-icon">
      {% include ongkara.svg %}
  </div>
    <p class="editable">
 	This Pledge is inspired by the ancient Balinese philosophy of Tri Hita Karana whereby each person seeks to live in harmony with their Community, Spirituality, and Environment. Philosophy rooted in the belief that by striving to make tangible, positive impacts in all three components of Tri Hita Karana, we achieve a sense of wellness, harmony, and peace.&nbsp;<br /><br />In Order For One To Be Well, We Must All Be Well.
 </p>
 <br />
 <br />
 <h3 class="editable">
 	Tri Hita Karana - We Are One
 </h3>
 <p class="editable">

 </p>
  </div>
</section>
<section id="illustrated-quote-1" class="illustrated-quote">
  <div class="grid-noGutter">
    <div class="col-6_md-12">
      <div class="large-image-left">
        {% assign path = page.first_highlight_image %}
        {% assign alt = page.first_highlight_image_alt_text %}
        {% include image.html path = page.highlight_image alt = page.highlight_image_alt_text %}
      </div>
    </div>
    <div class="col-6_md-12">
      <div class="quote-box bg-secondary">
        <div class="quote-name">
          <h3 class="editable">
 	Honor The SPIRIT OF BALI&nbsp;
 </h3>
        </div>
        <div class="quote-content">
          <p class="editable">
 	I am part of Mother Universe and respect the harmony and balance with Her, provided by Bali's spiritual practices. The powerful rituals held by Balinese will be honored in our interactions, our life at home and in the streets. We are the universe.
 </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="illustrated-quote-2" class="illustrated-quote">
  <div class="grid-noGutter-reverse">
    <div class="col-6_md-12">
      <div class="large-image-left">
        {% assign path = page.second_highlight_image %}
        {% assign alt = page.second_highlight_image_alt_text %}
        {% include image.html path = page.highlight_image alt = page.highlight_image_alt_text %}
      </div>
    </div>
    <div class="col-6_md-12">
      <div class="quote-box bg-accent">
        <div class="quote-name">
          <h3 class="editable">
 	Stay Close To NATURE
 </h3>
        </div>
        <div class="quote-content">
          <p class="editable">
 	I am part of Mother Nature. The air I breathe, the water I drink, and the food I savour are the keys to our future. If we continue to take every single part of nature without giving back, it will be drained and this will harm life. We are nature, we are our environments.
 </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="illustrated-quote-3" class="illustrated-quote">
  <div class="grid-noGutter">
    <div class="col-6_md-12">
      <div class="large-image-left">
        {% assign path = page.third_highlight_image %}
        {% assign alt = page.third_highlight_image_alt_text %}
        {% include image.html path = page.highlight_image alt = page.highlight_image_alt_text %}
      </div>
    </div>
    <div class="col-6_md-12">
      <div class="quote-box bg-secondary">
        <div class="quote-name">
          <h3 class="editable">
 	Be The COMMUNITY You Want To Have
 </h3>
        </div>
        <div class="quote-content">
          <p class="editable">
 	We are essentially emotional and social creatures. I cannot thrive without others thriving too, so FOR ME TO BE WELL, WE ALL NEED TO BE WELL.&nbsp; In supporting one another, we are supporting the whole world.&nbsp; We need harmonious relationships; we want to give. We are one.
 </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pledge" class="padding-lg bg-accent">
  <div class="grid-noGutter">
    <div class="col-12 center">
      <h2 class="editable">
 	I am in Bali because I want to be well.
 </h2>
      <p class="editable">
 	This is my pledge, to be well I pledge to:
 </p>
    </div>
    <div class="col-4_md-12-middle">
      <div class="padding-md center">
        <div class="pledge-content">
          <p class="editable">
            Protect Bali's natural resources and environment.
          </p>
          <button id="pledge-button-1" type="button" name="button" class="button pledge-button"><span>Click to Agree</span><span>I Agree</span></button>
        </div>
      </div>
    </div>
    <div class="col-4_md-12-middle">
      <div class="padding-md center">
        <div class="pledge-content">
          <p class="editable">
            Be in harmony with my local community.
          </p>
          <button id="pledge-button-2" type="button" name="button" class="button pledge-button"><span>Click to Agree</span><span>I Agree</span></button>
        </div>
      </div>
    </div>
    <div class="col-4_md-12-middle">
      <div class="padding-md center">
        <div class="pledge-content">
          <p class="editable">
            Respect the cultural and spiritual essence of Bali.
          </p>
          <button id="pledge-button-3" type="button" name="button" class="button pledge-button"><span>Click to Agree</span><span>I Agree</span></button>
        </div>
      </div>
    </div>
    <div id="pledge-form" class="pledge-form center">
      <p class="editable">
 	To be well, we all need to be well.
 </p>
      <h3 class="editable">
 	We are one.
 </h3>
      <form id="pledge-form" action="/thank-you" method="get">
        <input type="name" name="name" value="" placeholder="Your name" />
        <input type="email" name="email" value="" placeholder="Your email" />
        <input type="submit" id="submit" name="button" value="Validate my Pledge" class="submit-button" />
      </form>
      {% include essentials/social-share.html %}
    </div>
  </div>
</section>
<section id="pledgers" class="padding-md pledgers-section">
  <h2 class="editable center">
 	Who has already pledged:
 </h2>
  <div class="owl-carousel owl-theme">
    {% for pledge in page.pledges %}
    <div class="pledge padding-md">
      <div class="pledgers center">
        <div class="pledger-avatar">
          {% assign path = pledge.avatar_image %}
          {% assign alt = pledge.alt-text %}
          {% include image.html  %}
        </div>
        <h4>{{pledge.name}}</h4>
        <div class="content">
          <p>
            {{pledge.message}}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}

  </div>
</section>
<section id="custom-message" class="padding-lg bg-secondary center">
  <div class="padding-sm">
    <h2 class="editable">
 	Leave a Custom Pledge
 </h2>
    <p class="editable">
 	Write your own pledge version and share your committment to the land, people and culture of Bali.
 </p>
  </div>
  <div class="message-form center">
    <form id="message-form" action="/thank-you" method="get">
      <input type="name" name="name" value="" placeholder="Your name" />
      <input type="email" name="email" value="" placeholder="Your email" />
      <textarea name="textarea" rows="8" cols="80" placeholder="Your Message"></textarea>
      <input id="submit" type="submit" name="button" value="Send your pledge" class="submit-button" />
    </form>
  </div>
</section>
