---
layout: default
title: The Bali Pledge
preview_image: assets/images/placeholder-007.jpg
main_image: assets/images/placeholder-003.jpg
main_image_alt_text: Some alt text here
first_highlight_image: assets/images/bali-gus-schiavon-1.jpg
first_highlight_image_alt_text: Some alt text
second_highlight_image: assets/images/bali-gus-schiavon-3.jpg
second_highlight_image_alt_text: Some alt text
third_highlight_image: assets/images/bali-gus-schiavon-6.jpg
third_highlight_image_alt_text: Some alt text
avatar_image: assets/images/gus.jpg
pledges:
  - name: Gus
    avatar_image: assets/images/gus.jpg
    alt-text: Gus Schiavon
    message: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  - name: Pak Dirga
    avatar_image: assets/images/bali-gus-schiavon-6.jpg
    alt-text:
    message: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - name: Alexandre
    avatar_image: assets/images/gus2.jpg
    alt-text:
    message: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
sections:
---
<main class="padding-lg flex-center full-height header">
  <div class="padding-sm">
    <h1 id="header" class="center editable animate__animated animate__fadeIn animate__slower">
      The Pledge for Bali
    </h1>
  </div>
</main>
<section id="about">
  <div class="center padding-lg">
    <div class="section-icon">
      <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 149.898 218.469" xml:space="preserve">
      <g>
        <path fill-rule="evenodd" d="M20.686,210.052c-0.724-18.927,3.015-35.44,24.49-40.074c15.471-3.338,32.06,4.868,38.694,17.796
        c4.568,8.902,2.915,24.729-4.028,30.695c0.506-1.567,0.993-3.14,1.52-4.7c5.967-17.666-1.442-30.049-19.931-32.851
        c-4.909-0.744-9.972-1.024-14.931-0.794c-15.787,0.732-25.495,13.357-22.449,28.813c0.479,2.434,1.049,4.85,1.693,7.806
        c-1.385-0.219-2.467-0.24-3.446-0.568c-7.278-2.439-12.681-7.188-16.54-13.74c-13.432-22.802-2.381-50.647,22.932-57.957
        c11.197-3.234,22.373-6.548,33.525-9.935c21.035-6.389,31.764-29.809,22.958-49.973c-4.16-9.526-15.813-12.094-23.761-5.128
        c-1.984,1.739-3.601,3.898-5.674,6.18c-0.937-1.026-2.081-1.938-2.79-3.112c-3.784-6.268-9.466-6.613-15.741-5.225
        c-6.525,1.443-9.768,5.746-10.853,12.149c-1.714,10.113-0.932,19.576,7.249,27.393c-11.109,1.977-18.6-3.633-19.033-14.053
        c-0.248-5.965,0.498-11.968,0.686-17.957c0.068-2.15,0.156-4.409-0.42-6.43c-0.389-1.363-1.926-2.399-2.948-3.582
        c-1.282,1.125-3.377,2.065-3.685,3.415C7.448,81.52,7.52,85.008,7.237,88.68c-4.543-5-3.264-19.081,2-22.184
        c1.638-0.965,4.913-1.607,5.887-0.711c1.847,1.7,3.618,4.642,3.565,7.026c-0.162,7.305-1.809,14.601-1.693,21.881
        c0.08,4.943,1.881,9.946,3.497,14.724c0.495,1.464,2.929,2.271,4.474,3.38c0.41-0.372,0.821-0.744,1.232-1.116
        c-0.554-1.656-1.101-3.315-1.66-4.969c-3.759-11.103-3.027-22.002,1.705-32.629c2.221-4.989,4.936-9.532,11.484-9.531
        c7.061,0.002,12.707,2.376,16.047,8.933c0.795,1.562,1.412,3.213,2.381,5.44c0.9-1.838,1.54-3.123,2.16-4.414
        c2.723-5.676,6.086-10.305,13.418-9.977c7.692,0.344,13.649,3.839,15.559,11.06c1.966,7.439,2.985,15.399,2.779,23.088
        c-0.421,15.613-4.644,30.024-17.877,40.077c-2.331,1.77-5.109,3.164-7.894,4.089c-13.905,4.62-28.056,8.555-41.792,13.621
        c-19.498,7.191-25.69,29.221-13.141,45.868c2.566,3.402,6.433,5.823,9.699,8.695C19.607,210.705,20.146,210.378,20.686,210.052z"/>
        <path fill-rule="evenodd" d="M73.943,39.652c10.04-3.065,9.094-13.793,13.997-20.012c0.733,0.342,1.468,0.684,2.202,1.026
        c-0.935,4.434-1.343,9.062-2.897,13.267C81.711,48.891,66.121,57.621,49.484,55.5c-15.176-1.933-27.721-14.824-29.29-30.321
        c-0.146-1.441,0.86-2.999,1.331-4.501c0.823,1.239,1.996,2.372,2.413,3.736c2.479,8.109,5.231,11.892,11.091,14.257
        c0.424-1.782,0.819-3.492,1.238-5.196c1.959-7.97,5.45-14.637,14.023-17.354c1.008-0.319,2.07-1.994,2.234-3.163
        c0.412-2.951,0.209-5.984,0.493-8.961c0.13-1.36,0.828-2.667,1.269-3.998c0.581,0.071,1.162,0.143,1.744,0.214
        c0.235,3.995,0.317,8.009,0.791,11.975c0.166,1.39,1.02,3.546,2.022,3.858c10.278,3.185,13.265,11.275,14.481,20.692
        C73.428,37.526,73.652,38.298,73.943,39.652z M54.314,44.147c1.609-0.096,4.146,0.006,6.58-0.441
        c9.883-1.82,9.656-1.73,7.045-11.117c-2.293-8.24-8.607-12.277-16.026-10.973c-6.634,1.167-13.61,10.202-12.163,17.881
        c1.104,5.852,7.529,3.493,11.688,4.502C52.072,44.152,52.764,44.078,54.314,44.147z"/>
        <path fill-rule="evenodd" d="M93.382,78.191c2.479-2.543,4.71-5.404,7.482-7.572c9.918-7.762,25.618-8.312,35.639-1.515
        c10.327,7.004,15.655,21.309,12.484,33.52c-2.607,10.041-11.097,16.164-20.659,14.901c-4.645-0.613-6.963-3.181-6.341-7.784
        c0.233-1.723,1.403-4.17,2.751-4.674c1.643-0.614,4.419-0.159,5.824,0.949c3.142,2.477,5.688,6.094,10.334,3.605
        c4.607-2.468,6.101-6.915,6.274-11.749c0.289-8.056-3.278-14.165-10.308-18.031c-11.685-6.428-23.921-5.964-36.321-2.484
        c-1.118,0.313-2.197,0.762-3.301,1.132c-0.912,0.306-1.831,0.59-2.748,0.884C94.123,78.98,93.752,78.586,93.382,78.191z"/>
      </g>
    </svg>
  </div>
    <p class="editable">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</section>
<section id="illustrated-quote-1" class="illustrated-quote">
  <div class="grid-noGutter">
    <div class="col-6_md-12">
      <div class="large-image-left">
        {% assign path = page.first_highlight_image %}
        {% assign alt = page.first_highlight_image_alt_text %}
        {% include image.html path = page.highlight_image alt = page.highlight_image_alt_text %}
      </div>
    </div>
    <div class="col-6_md-12">
      <div class="quote-box bg-secondary">
        <div class="quote-content">
          <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="quote-name">
          <h3 class="editable">
            Culture
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="illustrated-quote-2" class="illustrated-quote">
  <div class="grid-noGutter-reverse">
    <div class="col-6_md-12">
      <div class="large-image-left">
        {% assign path = page.second_highlight_image %}
        {% assign alt = page.second_highlight_image_alt_text %}
        {% include image.html path = page.highlight_image alt = page.highlight_image_alt_text %}
      </div>
    </div>
    <div class="col-6_md-12">
      <div class="quote-box bg-accent">
        <div class="quote-content">
          <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="quote-name">
          <h3 class="editable">
            Environment
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="illustrated-quote-3" class="illustrated-quote">
  <div class="grid-noGutter">
    <div class="col-6_md-12">
      <div class="large-image-left">
        {% assign path = page.third_highlight_image %}
        {% assign alt = page.third_highlight_image_alt_text %}
        {% include image.html path = page.highlight_image alt = page.highlight_image_alt_text %}
      </div>
    </div>
    <div class="col-6_md-12">
      <div class="quote-box bg-secondary">
        <div class="quote-content">
          <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="quote-name">
          <h3 class="editable">
            Community
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pledge" class="padding-lg bg-accent">
  <div class="grid-noGutter">
    <div class="col-12 center">
      <h2 class="editable">
        I am in Bali because I want to be well.
      </h2>
      <p>
        This is my pledge, to be well I pledge to:
      </p>
    </div>
    <div class="col-4_md-12-middle">
      <div class="padding-md center">
        <div class="pledge-content">
          <p class="editable">
            Respect the cultural and spiritual essence of Bali.
          </p>
          <button id="pledge-button-1" type="button" name="button" class="button pledge-button"><span>Click to Agree</span><span>I Agree</span></button>
        </div>
      </div>
    </div>
    <div class="col-4_md-12-middle">
      <div class="padding-md center">
        <div class="pledge-content">
          <p class="editable">
            Protect Bali's natural resources and environment.
          </p>
          <button id="pledge-button-2" type="button" name="button" class="button pledge-button"><span>Click to Agree</span><span>I Agree</span></button>
        </div>
      </div>
    </div>
    <div class="col-4_md-12-middle">
      <div class="padding-md center">
        <div class="pledge-content">
          <p class="editable">
            Be in harmony with my local community.
          </p>
          <button id="pledge-button-3" type="button" name="button" class="button pledge-button" ><span>Click to Agree</span><span>I Agree</span></button>
        </div>
      </div>
    </div>
    <div id="pledge-form" class="pledge-form center">
      <p class="editable">
        To be well, we all need to be well.
      </p>
      <h3>We are one.</h3>
      <form id="_pledge-form_" action="" method="post" title="validate">
        <input type="name" name="name" value="Your Name" placeholder="Your name">
        <input type="email" name="email" value="Your Email" placeholder="Your email">
        <button id="submit" type="button" name="button" class="submit-button"> validate my pledge</button>
      </form>
      <div class="social-share">
        <h3>Share the pledge</h3>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}" target="_blank" onclick="window.open(this.href,'targetWindow',`toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=600`);return false;"class="facebook social-icon">{%include essentials/social-icons-v2.html icon="Facebook"%}</a>
        <a href="fb-messenger://share/?link={{site.url}}&app_id=810491679450734" target="_blank" class="messenger social-icon">{%include essentials/social-icons-v2.html icon="Messenger"%}</a>
        <a href="https://twitter.com/intent/tweet?text=From%20%40v7academy%20%3A{{site.url}}" onclick="window.open(this.href,'targetWindow',`toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes, width=600, height=600`);return false;" target="_blank" class="twitter social-icon">{%include essentials/social-icons-v2.html icon="Twitter"%}</a>
        <!-- <a href="#" class="pinterest social-icon">{%include essentials/social-icons-v2.html icon="Pinterest"%}</a> -->
        <a href="https://api.whatsapp.com/send?text={{site.url}}" class="whatsapp social-icon">{%include essentials/social-icons-v2.html icon="WhatsApp"%}</a>
        <a href="#" onclick="window.open(this.href,'targetWindow',`toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes, width=600, height=600`);return false;" class="linkedin social-icon">{%include essentials/social-icons-v2.html icon="LinkedIn"%}</a>
        <a href="mailto:?&subject={{page.title}}{{site.title}}&body=Have%20a%20look%20at%20this%3A%20{{site.url}}" onclick="window.open(this.href,'targetWindow',`toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes, width=600, height=600`);return false;" class="email social-icon">{%include essentials/social-icons-v2.html icon="Email"%}</a>
      </div>
    </div>
  </div>
</section>
<section id="pledgers" class="padding-md">
  <h2 class="center">Who has already pledged:</h2>
  <div class="owl-carousel owl-theme">
    {% for pledge in page.pledges %}
    <div class="pledge padding-md">
      <div class="pledgers center">
        <div class="pledger-avatar">
          {% assign path = pledge.avatar_image %}
          {% assign alt = pledge.alt-text %}
          {% include image.html  %}
        </div>
        <h4>{{pledge.name}}</h4>
        <div class="content">
          <p>
            {{pledge.message}}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}

  </div>
</section>
<section id="custom-message" class="padding-lg bg-secondary center">
  <div class="padding-sm">
    <h2 class="editable">Leave a Custom Pledge</h2>
    <p class="editable"> Write your own pledge version and share your committment to the land, people and culture of Bali.</p>
  </div>
  <div class="message-form center">
    <form id="message-form" action="#" method="post" title="validate">
      <input type="name" name="name" value="Your Name" placeholder="Your name">
      <input type="email" name="email" value="Your Email" placeholder="Your email">
      <textarea name="textarea" rows="8" cols="80" placeholder="Your Message"></textarea>
      <button id="submit" type="button" name="button" class="submit-button"> Send your pledge</button>
    </form>
  </div>
</section>
<footer id="footer" class="bg-primary padding-lg">
  <div class="padding-md">
    <h2 class="editable">The Pledge for Bali is a BGreener initiative.</h2>
    <div class="footer-content">
      <p class="editable">
        BGreener is the hand that propels tourism businesses in solving social and environmental management challenges in their communities. Together, owners and managers learn and share with each other how to find practical and viable solutions to daily problems related to waste, energy, food-sourcing, staff training, customer relationships. Members help grow each other's businesses, support one another in the daily operations. Members meet together to create community, to network and to take positive actions to solve key environmental and social issues. Get involved: <a href="mailto:balipledge@gmail.com" target="_blank">balipledge@gmail.com</a>
      </p>
      <div class="credits">
        <span>Logo design by <a href="" target="_blank">Leonor</a></span>
        <span>Site & Images created with good karma by <a href="https://instagram.com/gus.schiavon_" target="_blank">Gus Schiavon</a> and Natasha </span>
      </div>
    </div>
  </div>
</footer>
