
.illustrated-quote,
.illustrated-quote-2,
.quote-content {
  position    : relative;
}

.large-image-left,
.large-image-right {

  height  : 900px;
}


.quote-box {
  height: 900px;
  max-width: 100%;
  padding: 17%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote-name {
  margin-bottom: 1rem;
  h3 {
    font-size: 3rem;
    margin: 0;
  }
}
.quote-content {
  p {
    font-size: 1.7rem;
    line-height: 1.7;
  }
}
