
.illustrated-quote,
.illustrated-quote-2,
.quote-content {
  position    : relative;
}

.large-image-left,
.large-image-right {

  height  : 900px;
}


.quote-box {
  height: 900px;
  max-width: 100%;
  display: inline-block;
  padding: 17%;
}

.quote-name {
  h3 {
    font-size: 3rem;
    margin: 0;
  }
}
.quote-content {
  p {
    font-size: 1.7rem;
    line-height: 1.7;
  }
}
