
// Buttons

.button {
  display           : inline-block;
  margin            : 2rem 0;
  color             : #fefefe;
  background-color  : $accent-color;
  border            : 1px solid #fefefe;

  width             : 200px;
  text-transform    : uppercase;
  font-family       : $heading-font-family;
  letter-spacing    : 2px;
  span:first-of-type {
    display:inline-block;
  }
  span:last-of-type {
    display: none;

  }
}

.header-button {
  font-family: $heading-font-family;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  color: $secondary-shade;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
  &:hover {
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    -moz-transition: 0.3s all;
    transition: 0.3s all;
    background-color: $accent-color;
    border-color: $accent-color;
    color: #fefefe;
  }
}

button {
  -webkit-border-radius     : 0.3rem;
     -moz-border-radius     : 0.3rem;
          border-radius     : 0.3rem;
}

.submit-button {
  -webkit-transition        : 0.3s all;
  -o-transition             : 0.3s all;
  -moz-transition           : 0.3s all;
  transition                : 0.3s all;
  background-color          : #fefefe;
  font-size                 : 1rem;
  &:hover {
    background-color        : #fbdaad;
    -webkit-transition      : 0.3s all;
    -o-transition           : 0.3s all;
    -moz-transition         : 0.3s all;
    transition              : 0.3s all;
  }

}

// Button actions
button.active {
  background-color  : #fefefe;
  color             : $accent-color;
  span:first-of-type {
    display: none;
  }
  span:last-of-type {
    display: inline-block;

  }
}

.bg-primary .button {
  color        : $secondary-shade;
  border-color : $secondary-shade;
}

.bg-secondary .button {
  color        : $primary-shade;
  border-color : $primary-shade;
}

.pledge-button {
  padding: 0.5rem 1.5rem;
}

.message-form .submit-button {
  background-color: $accent-color;
  color: whitesmoke;
  border-color: $accent-color;
  text-transform: uppercase;
  font-family: $heading-font-family;
  letter-spacing: 2px;
  font-weight: normal;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
  &:hover {
    background-color: none;
    color: $accent-color;
    border-color: $accent-color;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    -moz-transition: 0.3s all;
    transition: 0.3s all;
  }
}
