@media (min-width: 1024px) {
  .quote-content p {
    font-size: 1.8rem;
  }
  .quote-name h3 {
    text-align: center;
  }
}
@media (min-width: 300px) and (max-width: 600px) {
  .mobile-nav {
    display: inline-block;
  }
  .desktop-nav {
    display: none;
  }
  .nav-bar {
    padding   : 0.5% 2%;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  .quote-box {
    padding: 15%;
  }
  .large-image-left,
  .large-image-right,
  .quote-box {
    height: 700px;
  }
  .message-form {
    width: 80%;
  }

}

@media (min-width: 320px) and (max-width: 480px)  {
  h1 {
    font-size: 5rem;
  }
  h2 {
    line-height: 1.2;
  }
  p,
  .quote-content p {
    font-size: 1.2rem;
  }

  .quote-name h3 {
    font-size: 2.5rem;
    text-align: center;
  }
  .pledgers {
    width: 100%;
    padding: 2.5rem;
  }
  .message-form {
    width: 100%;
    margin-top: 1rem;
  }
  .large-image-left,
  .large-image-right,
  .quote-box {
    height: 400px;
  }
  .quote-box {
    padding: 7%;
  }
}

@media (min-width: 320px) and (max-width: 1024px)  {
  .quote-content {
    text-align: center;
  }
}
