
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}
// Typography
h1,
h2,
h3,
h4 {
  font-family     : $heading-font-family;
  margin-bottom   : $heading-default-bottom-margin;
  letter-spacing  : 2px;
}

h1 {
  // color           : $accent-color;
  font-size       : 8rem;
  color: #fefefe;
  // text-transform  : uppercase;
}

h2 {
  // color         : $secondary-color;
  font-size     : 2.5rem;
}

h3 {
  // color         : $secondary-shade;
  font-size     : 2rem;
}
h4 {
  font-size     : 1.2rem;
}

a {
  font-family   : inherit;
}

p {
  font-family    : $body-font-family;
  font-size      : 1.5rem;
  line-height    : 1.5;
}

input,
textarea {
  padding: 1rem;
  margin-bottom: 0.3rem;
  width: 100%;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.pledge-form input {
  background-color: $accent-color;
  border: 2px solid #fefefe;
  &[type="name"],
  &[type="email"] {
    color: #fefefe;
    font-size: 1rem;
  }
}
label {
  display : block;
  margin-top: 1rem;
  color: $accent-color;
  font-size: 1.2rem;
  font-family: $body-font-family;
  text-transform: uppercase;
}
