<!-- Add your footer code here -->
<footer id="footer" class="bg-primary footer">
  <div class="padding-md">
    <div class="footer-logo">
      {% include bali-pledge-logo.html style="TextLogo" %}
    </div>
    <h2 class="editable">
 	We are the ones we have been waiting for:
 </h2>
    <div class="footer-content">
      <p class="editable">
 	Keen to support the Pledge movement?&nbsp;<br /><br />The Pledge is an initiative of a group of Mindful Business Owners and General Managers in the tourism industry. As a community, we aim at finding practical and viable solutions to daily problems related to waste, energy, food-sourcing, staff training and customer relationships. We take positive actions to solve key environmental and social issues.<br /><br />Bali and Beyond<br />We aim at inspiring a shift from mass-tourism to travel with intention, in Bali first, throughout Indonesia next and in the World ultimately.<br /><br />Join the movement,<br />Get involved: <a target="_blank" href="mailto:balipledge@gmail.com">balipledge@gmail.com</a>
 </p>
      <div class="credits">
        <span>Logo design by <a href="https://instagram.com/leonor.zapater" target="_blank">Leonor Zapater</a></span>
        <span>Site & Images created with good karma by <a href="https://instagram.com/gus.schiavon_" target="_blank">Gus Schiavon</a> and Natasha </span>
      </div>
    </div>
  </div>
</footer>
