<!-- Add your footer code here -->
<footer id="footer" class="bg-primary footer">
  <div class="padding-md">
    <h2 class="editable">
 	<strong>Apakah Anda ingin mendukung ikrar ini?</strong>
 </h2>
    <div class="footer-content">
      <p class="editable">
 	Ikrar ini adalah sebuah prakarsa yang digagas oleh sekelompok pelaku bisnis dan manajer industri pariwisata. Sebagai sebuah komunitas, kami bertujuan untuk mencari solusi praktis dan berkesinambungan untuk menangani masalah sehari-hari, seperti sampah, sumber daya, sumber pangan, pelatihan staf, dan layanan pelanggan. Kami mengambil tindakan positif untuk menangani isu lingkungan dan sosial.<br /><br /><strong>Bali dan Seterusnya</strong><br />Kami bertujuan untuk menginspirasi perubahan positif dalam berwisata, dimulai dari Bali, kemudian ke seluruh Indonesia, dan akhirnya seluruh dunia.<br /><br />Ikuti gerakannya!
 </p>


          <div class="footer-social">
            <h3 class="editable">
 	Turut Serta:
 </h3>
            <a href="{{site.data.settings.social.facebook_url}}" target="_blank">{% include social-icons.html icon='Facebook' %}</a>
            <a href="{{site.data.settings.social.instagram_url}}" target="_blank">{% include social-icons.html icon='Instagram' %}</a>
            <a target="_blank" href="mailto:balipledge@gmail.com">{% include social-icons.html icon='Email' %}</a>
          </div>

        <div class="footer-branding">
          <div class="footer-logo">
            {% include bali-pledge-logo.html style="TextLogo" %}
          </div>
          <div class="credits">
            <span>Logo design by <a href="https://instagram.com/leonor.zapater" target="_blank">Leonor Zapater</a></span>
            <span>Images by <a href="https://www.davidmetcalfphotography.com" target="_blank">David Metcalf Photography</a></span>
            <span>Site created with good karma by <a href="https://instagram.com/gus.schiavon_" target="_blank">Gus Schiavon</a> with contribution from <a href="https://instagram.com/natasha__re" target="_blank">Natasha</a> </span>
          </div>
        </div>

    </div>
  </div>
</footer>
