<div class="nav-bar">
  <div id="desktop-nav" class="desktop-nav">
    <div class="grid-noGutter-spaceBetween">
      <div class="col-4-middle">
        <a href="/" class="nav-logo">
          <img src="{{site.data.settings.basics.site_logo_image}}" alt="{{site.data.settings.basics.site_title}}" />
        </a>
      </div>
      <nav class="col-8-middle right">
        <a href="/#illustrated-quote-1" class="editable"> FILOSOFI&nbsp;</a>
        <a href="/#pledge" class="editable"> IKRAR</a>
        <a href="/#custom-message" class="editable">BERGABUNG&nbsp;</a>
        <a href="/#footer" class="editable">hubungi KAMI</a>
        <a href="/en" class="editable"> English </a>
        <a href="/#illustrated-quote-1" class="editable"> About </a>
      </nav>
    </div>
  </div>
  <div id="mobile-nav" class="mobile-nav">
    <a href="/" class="nav-logo-mobile">
      <img src="{{site.data.settings.basics.site_logo_image}}" alt="{{site.data.settings.basics.site_title}}" />
    </a>
    <div class="burger-container">
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="lang-menu center padding-md">
      <a href="/#pledge" class="editable"> The Pledge </a> | <a href="/#custom-message" class="editable"> Join </a>
    </div>
    <div id="mobile-menu" class="mobile-menu hide">
      <nav class="mobile-links">
        <ul>
          <li><a href="/#footer" class="editable"> Connect </a></li>
          <li><a href="/en" class="editable"> English Version </a></li>
          <li><a href="/#custom-message" class="editable"> Join </a></li>
          <li><a href="/#footer" class="editable"> Connect </a></li>
          <li><a href="/en" class="editable">English</a></li>
          <li><a href="/" class="editable">Bahasa Indonesia</a></li>
        </ul>
      </nav>
      <div class="menu-social">
        <a href="{{site.data.settings.social.facebook_url}}" target="_blank">{% include social-icons.html icon='Facebook' %}</a>
        <a href="{{site.data.settings.social.instagram_url}}" target="_blank">{% include social-icons.html icon='Instagram' %}</a>
      </div>
    </div>
  </div>
</div>
