---
layout: default
title: The Bali Pledge
permalink: /en
preview_image: /assets/bali-pledge-logo-02.png
first_highlight_image: assets/images/bali-david-metcalf-2.jpg
first_highlight_image_alt_text: Balinese elder image. © David Metcalf Photography
second_highlight_image: assets/images/bali-david-metcalf-3.jpg
second_highlight_image_alt_text: Bali ricefield image. © David Metcalf Photography
third_highlight_image: assets/images/bali-david-metcalf-1.jpg
third_highlight_image_alt_text: Balinese priest image. Image © David Metcalf Photography
pledges:
  - name: Jasmine and Rafael
    company: Radiantly Alive
    country: Bali
    avatar_image: assets/images/Jasmine-Rafael-RadiantlyAlive-photo.jpg
    alt-text: Radiantly Alive
    message: >-
      Bali is a magical island and we are so grateful for what it has given us
      and our yoga community. We’re all in to protect this beauty and culture
      for future generations!
  - name: Dewa
    company: Living Food Lab
    country: Bali
    avatar_image: assets/images/Dewa-LivingFoodLab-photo.jpg
    alt-text: Dewa Living Food Lab
    message: >-
      I am so proud as a Balinese Man, I pledge to Protect Balinese culture and
      to Protect the harmony spirit of Bali.
  - name: Imelda
    country: Bali
    avatar_image: assets/images/Imelda-LivingFoodLab-photo.jpg
    alt-text: Imelda Living Food Lab
    message: >-
      As someone who admires Bali. I have lived in several regions in Indonesia.
      Bali is one of the areas that shows that despite many differences, Bali
      can unite all those differences with its nature, culture and also their
      beliefs. I will be part that take care Bali.
  - name: Johnny Blundstone
    company: Bali Eco Stay
    country: Bali
    avatar_image: assets/images/Johnny-BaliEcoStay-photo.jpg
    alt-text: Bali Eco Stay
    message: >-
      Infinite growth on a finite planet is unsustainable... please sign THE
      PLEDGE !
  - name: Thomas
    company: Desa Seni Resort
    country: Bali
    avatar_image: assets/images/Thomas-DesaSeni-photo.jpg
    alt-text: Desa Seni
    message: >-
      I Pledge to honor and respect all peoples ethnicities, religions, beliefs,
      ideas and opinions on the Island of Bali and beyond! Bali, the place of
      acceptance and understanding!
  - name: Michael
    company: Bali Aquaponics
    country: Bali
    avatar_image: assets/images/Michael-BaliAquaponics-logo.jpg
    alt-text: Bali Aquaponics
    message: >-
      We pledge to conserve Bali's fresh water resources & have zero negative
      impact on Bali's beautiful green environment, meaning no concrete instead
      of lush green rice-fields.
  - name: Thierry Cayot
    company: Pest Hama
    country: Bali
    avatar_image: assets/images/Thierry-Cayot-PestHama-photo.jpg
    alt-text: Pest Hama
    message: >-
      As a full member of the banjar Adat Sangketan, Penebel, Tabanan, my pledge
      to Bali follows strictly and fully the Awig-awig (custom law) of my
      village. I'm engaged as well to protect the spiritual culture of Bali as
      well as its natural environment.
  - name: Mischa-Denise van den Toorn
    company: Natural Bamboo Lady
    country: Netherlands
    avatar_image: assets/images/Mischa-NaturalBambooLady-photo.jpg
    alt-text: Natural Bamboo Lady
    message: >-
      This Pledge is inline with my mind, body, soul and spirit. This is THE WAY
      i live my life. More than happy to sign this pledge and join this
      community With Love, Compassion and Gratitude
  - name: Krishna Chieppa
    country: Bali
    company: Serenity Eco Guesthouse & Yoga
    avatar_image: assets/images/KrishnaChieppa-Serenity-photo.jpg
    alt-text: Serenity logo
    message: >-
      Serenity began with a vision to grow mind and body, go green, all with
      Serenity. From the very beginning, we have strived to live and work with
      our 5 missions (principles)
  - name: RefillMyBottle
    country: Bali
    avatar_image: assets/images/refillmybottle.jpg
    alt-text: RefillMyBottle Logo
    message: >-
      I pledge to help protect Bali's environment by providing access to clean
      drinkable water through the establishment of RefillStations
  - name: Pauliina
    company: Living Food Lab
    country: Finland
    avatar_image: assets/images/paulina.jpg
    alt-text: Pauliina
    message: >-
      As a visitor to Bali since 2001, and a business owner and mama to our
      Living Food Lab team since 2017, I pledge to focus my efforts on taking
      action that brings about more harmony with the nature of, spirit of, and
      community in Bali. Particularly, as an ethical vegan, I pledge to continue
      to be kind to all living beings, and run our restaurants in a way that is
      as supportive of Mother Earth as possible. I have always had a great
      respect and love for the spiritual essence of Bali, and pledge to remain
      respectfully curious and involved. As for the community, I pledge to
      continue to take care of our Bali family to the best of my ability.
  - name: Piet
    company: Positive Impact Forever
    country: South Africa
    avatar_image: assets/images/piet.jpg
    alt-text: Piet Van Zyl
    message: Great pledge - let’s all take care of Bali
  - name: Gus
    company: Freelancer Web Developer
    country: Brazil
    avatar_image: assets/images/gus.jpg
    alt-text: Gus Schiavon
    message: >-
      Incredibly grateful to be part of this initiative. The Bali Pledge
      respects and elevates Bali's culture, people and environment which are key
      for a sustainable future to all residents and visitors!
companies:
  - name: Desa Seni
    logo: assets/images/Thomas-DesaSeni-logo.jpg
  - name: Pest Hama
    logo: assets/images/Thierry-Cayot-PestHama-logo.jpg
  - name: RefillMyBottle
    logo: assets/images/refillmybottle.jpg
  - name: Bali Eco Stay
    logo: assets/images/Johnny-BaliEcoStay-logo.jpg
  - name: Serenity Eco Stay
    logo: assets/images/KrishnaChieppa-Serenity-logo.jpg
  - name: Natural Bamboo Lady
    logo: assets/images/Mischa-NaturalBambooLady-logo.jpg
  - name: Social Impakt
    logo: assets/images/Jeroen-van-Overbeek-SocialImpakt-logo.jpg
  - name: Radiantly Alive
    logo: assets/images/Jasmine-Rafael-RadiantlyAlive-logo.jpg
  - name: Diving4images
    logo: assets/images/Graham-Abbott-Diving4Images-logo.jpg
  - name: David Metcalf
    logo: assets/images/David-Metcalf-logo.png
  - name: Seven Stones
    logo: assets/images/Andrzej-Barski-Seven-Stones-logo.jpg
  - name: Bali Aquaponics
    logo: assets/images/Michael-BaliAquaponics-logo.jpg
  - name: Living Food Lab
    logo: assets/images/living-food-lab.jpg
---

<main class="padding-lg flex-center header">
    <div class="padding-sm">
        <h1 id="header" class="center editable animate__animated animate__fadeIn animate__slower">
 	The Pledge For Bali
 </h1>
        <p class="center editable animate__animated animate__fadeIn animate__slower">
 	With the cessation of worldwide travel, now is the time to reimagine the future of Bali, an island whose culture and environment have been under tremendous strain from mass tourism. With your Pledge and that of thousands of others, we hope to strengthen Balinese traditions and protect its beauty for locals, visitors, and all future generations.<br /><br />&nbsp;
 </p>
        <div class="center padding-md">
            <a href="#pledge" class="header-button editable">Sign the Pledge</a>
        </div>
    </div>
</main>
<section id="about">
    <div class="center padding-lg">
        <div class="section-icon">
            {% include ongkara.svg %}
        </div>
        <p class="editable">
 	The Pledge is inspired by the ancient Balinese philosophy of Tri Hita Karana whereby each person seeks to live in harmony with their Spirituality, Environment and Community. This philosophy is rooted in the belief that by striving to make tangible, positive impacts in all three components of Tri Hita Karana, we achieve a sense of wellness, harmony, and peace.&nbsp;<br />&nbsp;
 </p>
        <br />
        <br />
        <h3 class="editable">
 	Tri Hita Karana - Three Ways to Wellness
 </h3>
        <p class="editable">

 </p>
    </div>
</section>
<section id="illustrated-quote-1" class="illustrated-quote">
    <div class="grid-noGutter">
        <div class="col-6_md-12">
            <div class="large-image-left">
                {% assign path = page.first_highlight_image %}
                {% assign alt = page.first_highlight_image_alt_text %}
                {% include image.html path = page.highlight_image alt = page.highlight_image_alt_text %}
            </div>
        </div>
        <div class="col-6_md-12">
            <div class="quote-box bg-secondary">
                <div class="quote-name">
                    <h3 class="editable">
 	Be The COMMUNITY You Want To Have
 </h3>
                </div>
                <div class="quote-content">
                    <p class="editable">
 	Essentially, we are emotional and social creatures. I cannot thrive if others are not thriving too, so FOR ME TO BE WELL, WE ALL NEED TO BE WELL.&nbsp; In supporting one another, we are supporting the world. We need harmonious relationships. We want to give. We are one.
 </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="illustrated-quote-2" class="illustrated-quote">
    <div class="grid-noGutter-reverse">
        <div class="col-6_md-12">
            <div class="large-image-left">
                {% assign path = page.second_highlight_image %}
                {% assign alt = page.second_highlight_image_alt_text %}
                {% include image.html path = page.highlight_image alt = page.highlight_image_alt_text %}
            </div>
        </div>
        <div class="col-6_md-12">
            <div class="quote-box bg-accent">
                <div class="quote-name">
                    <h3 class="editable">
 	Stay Close to NATURE
 </h3>
                </div>
                <div class="quote-content">
                    <p class="editable">
 	I am one with Mother Nature. The air we breathe, the water we drink, and the food we savour are the keys to our future. With my choices and activities I will do my part to respect the nature of Bali. If we continue to over-exploit nature without giving back, all life will be harmed.&nbsp; We are nature, we are our environment.
 </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="illustrated-quote-3" class="illustrated-quote">
    <div class="grid-noGutter">
        <div class="col-6_md-12">
            <div class="large-image-left">
                {% assign path = page.third_highlight_image %}
                {% assign alt = page.third_highlight_image_alt_text %}
                {% include image.html path = page.highlight_image alt = page.highlight_image_alt_text %}
            </div>
        </div>
        <div class="col-6_md-12">
            <div class="quote-box bg-secondary">
                <div class="quote-name">
                    <h3 class="editable">
 	Honor the SPIRIT OF BALI&nbsp;
 </h3>
                </div>
                <div class="quote-content">
                    <p class="editable">
 	I am part of the Universe and respect the harmony and balance between myself and all that is. Traditional Balinese spiritual practices respect this harmony and balance. No matter what my own faith is, I&nbsp; will honor Balinese traditions and practice living in harmony and balance. We celebrate unity in diversity.
 </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pledge" class="padding-lg bg-accent">
    <div class="grid-noGutter">
        <div class="col-12 center">
            <h2 class="editable">
 	I am in Bali because I want to be well.
 </h2>
            <p class="editable">
 	To be well I pledge to:
 </p>
        </div>
        <div class="col-4_md-12-middle">
            <div class="padding-md center">
                <div class="pledge-content">
                    <p class="editable">
 	Protect Bali's natural resources and environment.
 </p>
                    <button id="pledge-button-1" type="button" name="button" class="button pledge-button editable"><span>Click to Agree</span><span>I Agree</span></button>
                </div>
            </div>
        </div>
        <div class="col-4_md-12-middle">
            <div class="padding-md center">
                <div class="pledge-content">
                    <p class="editable">
 	Be in harmony with my local community.
 </p>
                    <button id="pledge-button-2" type="button" name="button" class="button pledge-button editable"><span>Click to Agree</span><span>I Agree</span></button>
                </div>
            </div>
        </div>
        <div class="col-4_md-12-middle">
            <div class="padding-md center">
                <div class="pledge-content">
                    <p class="editable">
 	Respect the cultural and spiritual essence of Bali.
 </p>
                    <button id="pledge-button-3" type="button" name="button" class="button pledge-button editable"><span>Click to Agree</span><span>I Agree</span></button>
                </div>
            </div>
        </div>
        <div id="pledge-form" class="pledge-form center">
            <p class="editable">
 	To be well, we all need to be well.
 </p>
            <h3 class="editable">
 	We are one.
 </h3>
            <form id="pledge-form" action="/thank-you" method="get">
                <input type="name" name="name" placeholder="Your name" />
                <input type="email" name="email" placeholder="Your email" />
                <input type="submit" id="submit" name="button" value="Pledge" class="submit-button" />
            </form>
            {% include essentials/social-share.html %}
        </div>
    </div>
</section>
<section id="pledgers" class="padding-md pledgers-section">
    <h2 class="editable center">
 	Who has already pledged:
 </h2>
    <div class="owl-carousel owl-theme">
        {% for pledge in page.pledges %}
        <div class="pledge padding-md">
            <div class="pledgers center">
                <div class="pledger-avatar">
                    {% assign path = pledge.avatar_image %}
                    {% assign alt = pledge.alt-text %}
                    {% include image.html  %}
                </div>
                <h4 class="margin-bottom-1">{{pledge.name}}</h4>
                <h4 class="margin-bottom-1">{{pledge.company}}</h4>
                <h4>{{pledge.country}}</h4>
                <div class="content">
                    <p>
                        {{pledge.message}}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="companies-pledge">
        <h2 class="editable center">
 	Businesses that Support the Pledge:
 </h2>
        <div class="grid-noGutter-spaceAround">
            {% for company in page.companies %}
            <div class="col-2_sm-6-middle">
                <div class="company-logo">
                    <img src="{{company.logo}}" alt="{{company.name}}" />
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="custom-message" class="padding-lg bg-secondary center">
    <div class="padding-sm">
        <h2 class="editable">
 	Leave a Custom Pledge
 </h2>
        <p class="editable">
 	Write your own pledge version and share your commitment to the people, land and culture of Bali.
 </p>
    </div>
    <div class="message-form center">
        <form id="message-form" action="/thank-you" method="get">
            <input type="name" name="name" placeholder="Your name" />
            <input type="email" name="email" placeholder="Your email" />
            <input type="company" name="company" placeholder="Your company" />
            <input type="country" name="country" placeholder="Where are you from" />
            <textarea type="message" name="message" rows="8" cols="80" placeholder="Your Message"></textarea>
            <input id="submit" type="submit" name="button" value="Send your pledge" class="submit-button" />
        </form>
    </div>
</section>
{% include essentials/footer-eng.html %}
